.color-texto-uno
  color: $color-acento-contenido

.bg01
  background-image: url("../assets/curso/tema1/1_3-background.png")
  background-size: contain
  background-repeat: no-repeat
  background-position: center right

.img-infografica-b__modal__contenido div > * 
  color: black !important